/* default CSS is mobile */
.header {
  height: 500px;
  width: 100vw;
  padding: 5em;
  background-color: #adbef7;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

.appaYIPYIP {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .DDA {

} for animating arrows */

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Laptop/Desktop CSS */
@media only screen and (min-width: 960px) {
  .header {
    position: fixed;
    height: 45em;
    width: 30em;
    float: left;
    top: 5em;
  }
  
  .appaYIPYIP {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    position: relative;
    top: 10em;
  }

  #name {
    position: relative;
    top: 6em;
  }
}