/* default CSS is mobile */
.bozo {
  height: 500px;
  width: 100vw;
  padding: 5em;
  background-color: #adbef7;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

.appaYIPYIP {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .DDA {

} for animating arrows */

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Tablet CSS */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* Write Tablet only CSS here */
}

/* Laptop/Desktop CSS */
@media only screen and (min-width: 960px) {
  .bozo {
    height: 35vh;
    width: 35vw;
    float: left;
    position: relative;
    left: 5vw;
    top: 39vh;
  }
  
  .appaYIPYIP {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    position: relative;
    bottom: 7vh;
  }

  #name {
    position: relative;
    bottom: 10vh;
  }
}