#compTweet {
  padding-top: 1em;
  margin: 10px;
}

form {
  display: flex;
  width: 80vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  position: relative;
  left: 40px;
}

#txtbox {
  padding: 10px;
  width: 50vw;
  height: 10vh;
  outline: none;
  color: white;
  background-color: transparent;
  border: 2px solid transparent;
  border-bottom-color: black;
  border-bottom-width: 5px;
  border-style: solid;
  line-height: 1.2;
  resize: none;
  position: fixed;
  right: 150px;
}

#txtbox::placeholder {
  text-align: center;
  color: #9fa8c6;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  font-weight: 200;
}

#txtbox:hover {
  cursor: pointer;
  background-color: #737e9f;
}

#sendtwt {
  font-family: 'Bungee', cursive ;
  border-radius: 15px;
  background-color: #FC997E;
  color: white;
  padding: 16px 25px;
  text-decoration: none;
  margin: 15px;
  box-shadow: 1px 1px #000000;
}

#sendtwt:hover {
  cursor: pointer;
  background-color: #efb6a7;
}

.counter {
  font-family: 'Bungee', cursive ;
  color: antiquewhite;
  display: flex;
  justify-content: left;
  padding-left: .5em;
}

.red {
  color: #f48469
}

#tweetTooLong {
  display: none;
  text-align: center;
  max-width: 50vw;
  color: rgb(237, 187, 187);
  border: 2px solid rgb(103, 40, 40);
  background-color: rgb(157, 86, 86);
  margin: auto;
  margin-bottom: .5em;
  margin-top: .5em;
}

#tweetTooShort {
  display: none;
  text-align: center;
  max-width: 50vw;
  color: rgb(237, 187, 187);
  border: 2px solid rgb(103, 40, 40);
  background-color: rgb(157, 86, 86);
  margin: auto;
  margin-bottom: .5em;
  margin-top: .5em;
}



/* Laptop/Desktop CSS */
@media only screen and (min-width: 960px) {
  #compTweet {
    position: relative;
    left: 25vw;
    width: 100vw;
    flex-wrap: nowrap;
    text-align: center;
    font-size: 30pt;
    font-family: 'Bungee', cursive;
    padding-bottom: 10px;
  }

  form {
    position: relative;
    left: -100px;
    display: flex;
    width: 50vw;
    margin: right;
    padding-top: 10em;
  }

  #txtbox {
    width: 40vw;
    position: relative;
    right: 4px;
  }

  .new-tweet {
    display: flex;
    align-content: flex-start;
    justify-content: center;
  }

  #tweetTooLong {
    width: 50vw;
    position: fixed;
    left: 45vw;
    top: 34vh;
  }
  
  #tweetTooShort {
    width: 50vw;
    position: fixed;
    left: 45vw;
    top: 34vh;
    
  }
}