article {
  border: 3px solid black;
  border-radius: 5px 20px 20px 20px;
  margin-bottom: 1em;
  margin-top: 1em;
  background-color: #737e9f;
  color: antiquewhite;
  transition: box-shadow .3s;
}

article:hover {
  box-shadow: 5px 10px;
}

.nameNLogo {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.ATLA {
  color: white;
  font-style: inherit;
}

.ATLA:hover {
  cursor: pointer;
  color: #efb6a7;
}

.img {
  padding-right: 5px;
}

.handle {
  color: white;
  font-weight: 200;
}

.handle:hover {
  cursor: pointer;
  color: #efb6a7;
}

.tweet {
  border-bottom: 3px solid black;
  margin: 0 2vw;
  margin-top: 3vh;
  margin-bottom: 2vh;
  font-size: larger;
  line-height: 1.5;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.footy {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  color: white;
}

.PostTime{
  font-family: 'Bungee', cursive;
  font-size: 12pt;
  color: #a4afd0;
}

.PressALike {
  width: 5em;
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.bas:hover {
  cursor: pointer;
  color: #efb6a7;
  size: 20px;
}


/* Tablet CSS */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* Write Tablet only CSS here */
}

/* Laptop/Desktop CSS */
@media only screen and (min-width: 960px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;
  }

  article {
    position: relative;
    left: 20vw;
    margin: .5em .2em;
    width: 50vw;
  }
  
}