article {
  border: 3px solid black;
  margin-bottom: 1em;
  margin-top: 1em;
  background-color: #737e9f;
  color: antiquewhite;
}

article:hover {
  box-shadow: 5px 10px;
}

.nameNLogo {
  display: flex;
  justify-content: space-between;
  padding: 1em
}

.ATLA {
  justify-content: space-evenly;
  color: white;
  font-style: inherit;
}

.ATLA:hover {
  cursor: pointer;
  color: #efb6a7;
}

.handle {
  color: white;
  font-weight: 200;
}

.handle:hover {
  cursor: pointer;
  color: #efb6a7;
}

.tweet {
  border-bottom: 3px solid black;
  margin: 0 2vw;
  margin-top: 3vh;
  margin-bottom: 2vh;
  font-size: larger;
  line-height: 1.5;
}

.footy {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  color: white;
}

.PostTime{
  font-family: 'Bungee', cursive;
  font-size: 12pt;
  color: #a4afd0;
}

.PressALike {
  width: 5em;
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.fas:hover {
  cursor: pointer;
  color: #efb6a7;
}